*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  border: 1px solid transparent;
  padding-block-start: 1px;
  overflow: hidden;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 30px;
  padding: 133px 30px 133px 30px;
  margin: auto;
}

.result {
  grid-column: 1/2;
  padding-block-start: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
}

.result__video-container {
  min-inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__label {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.search-form__fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; 
  max-block-size: 54px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-block-end: 5px;
}

.search-form__textfield {
  border: none;
  background-color: transparent; 
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-inline-size: 225px; 
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  block-size: fit-content;
  padding: 1px 0 1px 0;
}

.search-form__textfield:hover {
  appearance: none;
  outline: none;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
}

.search-form__textfield:active {
  appearance: none;
  outline: none;
  border: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: none;
  border: 1px solid #FFF;
  padding: 1px;
} 

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label-text:active {
  text-decoration: none;
}

.search-form__checkbox-list {
  display: flex;
  max-inline-size: 212px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid white;
  margin-inline-end: 5px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content:'';
  display: inline-block;
  inline-size: 17px;
  block-size: 17px;
  margin-inline-end: 15px;
  background-color: #FFF;
  border: 2px double #1b1919;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: none;
  border: 1px solid #FFF;
  padding: 1px;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  padding-block-start: 6px;
  padding-block-end: 6px;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  block-size: fit-content;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  border: 2px double #FFF;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  border: 3px double #FFF;
}

.search-form__submit-button {
  min-inline-size: 194px;
}

.content__details {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  padding: 2px;
  margin-block-end: 20px;
}

.content__accent {
  color: #545050;
} 

.content__list {
  max-block-size: 298px;
  max-inline-size: 100%;
  overflow: hidden auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list::-webkit-scrollbar {
  background-color: transparent;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
  color:#FFF;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  appearance: none;
  outline: none;
}

.content__video-card:focus-visible {
  appearance: none;
  outline: none;
  border: 1px solid #FFF;
}

.content__video-card-thumbnail {
  max-width: 194px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  padding-block-start: 6px;
  margin-block-end: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.more-button {
  min-inline-size: 399px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}